<div class="navbar navbar-light navbar-footer fixed-bottom text-white">
  <div class="ml-5 pt-3 ">
    <a [routerLink]="['/restaurant-list']" routerLinkActive="router-link-active">
      <img src="assets/tab_lunch@2x.png" alt="lunch" height="25px" class="mx-auto d-block">
      <div class="text-white pb-2">
        lunch
      </div>
    </a>
  </div>
  <div class="mr-5 pt-3 ">
    <a  [routerLink]="['/contact']" routerLinkActive="router-link-active" >
      <img src="assets/tab_internets@2x.png" alt="internets" height="25px" class="mx-auto d-block">
      <div class="text-white text-center pb-2">
        internets
      </div>
    </a>
  </div>
</div>